
html
	head
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		script(src='/javascripts/jquery_min.js')
		script(src='/barr_client.js')
		script var localRoundId = "#{roundId}";
		link(rel='stylesheet' href='/barr.css')
		title= title
		script
		
	body
		div(style='display: none;')
			#sampleitem
				div
					span#name(style='color:blue;')
					span#time(style='color:grey;')
				#content(style='')
		#postdiv
			label Your name: 
			input#owner(type='text', style='width:10em')
			label Your comment: 
			input#text(type='text', style='width:40em')
			button#submitbarr Shoot
			span#errorinfo(style='color: red;')
			span#hidepost -
		#listmain
