extends layout

append head
	script(src='/javascripts/barr_client.js')
	script var localRoundId = "#{roundId}";
	if (needUpdate)
		script var needRefresh = 1;
	else
		script var needRefresh = false;
	link(rel='stylesheet' href='/stylesheets/barr.css')
		
block content
	div(style='display: none;')
		#sampleitem
			.row
				.col-xs-2.namediv
					p.text-left#name(style='color:blue;')
				.col-xs-8.contentdiv
					#content(style='')
				.col-xs-2
					p.text-right.hidden#status
			.row
				.col-xs-12
					p.text-right.hidden#time(style='color:grey;')
	#postdiv
		input.col-md-8#text(type='text')
		button.btn.btn-primary#submitbarr Shoot
		button.btn.btn-warning#hidepost Hide
		span#errorinfo(style='color: red;')
	#listmain
