extends layout
block content
	table.table.table-striped
		- for (var i in list)
			tr
				td 
					p #{list[i]}
				td
					a.btn.btn-default(href='/room/#{list[i]}') Join
		- if (list.length == 0)
			tr
				td 
					p No room availible
