extends layout
block content
	form(method='post' action='/login')
		.form-group
			input.form-control(type='text' name='username' placeholder='Input username here')
			input.form-control(type='password' name='password' placeholder='Input password here')
		.form-group
			button.btn.btn-primary(type='submit') Login
			a.btn.btn-success(href='/login/register') Register
