extends layout
block content
	form(method='post' action='/login/resetpassword')
		.form-group
			input.form-control(type='password' name='password' placeholder='Input old password here')
			input.form-control(type='password' name='newpassword' placeholder='Input new password here')
			input.form-control(type='password' name='newpasswordRepeat' placeholder='Repeat new password here')
		.form-group
			button.btn.btn-primary(type='submit') Reset
